@import "~src/assets/scss/mixins.scss";
@import "~src/assets/scss/mat-styles.scss";

body,
html {
    overflow: hidden;
    margin: 0;
    height: 100%;
    background-color: #eee;
    font-family: "Roboto";
}
