@import "~src/styles.scss";

.scroll_container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .header {
        width: 100%;
        // height: auto;

        @media (max-height: 500px) {
            // height: auto;
        }
    }
}
